<!DOCTYPE html>
<html>
    <head>
        <title>Vending machine</title>
        <link rel="stylesheet" href="css/styles.css">

    </head>
    <body bgcolor="cyan" width=100 height=50>
        <div align='center'>
            <h1>Vending Machine</h1>
        </div>
        <div align=center>
            <form action="calculations()">
                How many items: <input type="text" name="number_of_items" ><br>
                Enter item:     <input type="text" name="name_of_item"><br>
                Enter amount:   <input type="text" name="money_inserted"><br><br>
                            <input type="submit" value="Buy">
            </form>
        </div>
        <div>
            <ol>
                <li>Flake R25.99</li>
                <li>Wispa R37.59</li>
                <li>Crunchie R18.69</li>
                <li>Milky way R40.59</li>
                <li>Boost R27.29</li>
            </ol>
        </div>
        <div class="gallery" align=center>
                <img src=".../images/flake.png" alt="" width="225" height="175">
            <div class="desc">Flake Chocolate</div>
        </div>
        <div class="gallery" align=center>
                <img src="images/wispa" alt="" width="300" height="200">
            <div class="desc">Wispa Chocolate</div>
        </div>
        <div class="gallery" align=center>
            <img src="images/crunchie.png" alt="" width="300" height="200">
            <div class="desc">Crunchie Chocolate</div>
        </div>
        <div class="gallery" align=center>
            <img src="images/milky_way.png" alt="" width="300" height="200">
            <div class="desc">Milky way Chocolate</div>
        </div>
        <div class="gallery"align=center>
            <img src="images/boost.png" alt="" width="300" height="200">
            <div class="desc">Boost Chocolate</div>
        </div>
    </body>
</html>